<?xml version="1.0"?>
<configuration>
  <!-- How to Debug -->
  <!-- 1) Comment out "Path Rewriter" part -->
  <!-- 2) Comment out "add prefix=" part -->
  <!-- 3) Use local URL; eg: http://localhost:37090/YummyZoneWebService.svc/MethodName?format=plist -->
  
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=DineSmartDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--
    <add name="DBConnectionString" connectionString="SERVER=sqlserver8.loosefoot.com;UID=SmarterDBAdmin;PWD=sUphangile-yedi-K;database=DineSmartDB"/>
    -->
  </connectionStrings>

  <appSettings>
    <add key="AbsPathPrefix" value="/plist/"/>
    <add key="UseClientGuid" value="0"/>
    <add key="SearchVenue_LatitudeThreshold" value="1.00"/>
    <add key="SearchVenue_LongitudeThreshold" value="1.00"/>
    <add key="SearchVenue_RangeLimitInMiles" value="50.0"/>
    <add key="RedeemCoupon_LatitudeThreshold" value="0.02"/>
    <add key="RedeemCoupon_LongitudeThreshold" value="0.02"/>
    <add key="RedeemCoupon_RangeLimitInMiles" value="0.3"/>
    <add key="SendFeedback_RangeLimitInMiles" value="0.3"/>
    <add key="MaxNearbyVenues" value="50"/>
    <add key="UserNameFormat" value="EmailOrGuid"/> <!-- Email/Guid/FreeText/EmailOrGuid -->
    <add key="MinUserNameLength" value="6"/>
    <add key="MinPasswordLength" value="6"/>
    <add key="MinItemCountForTopRate2" value="5"/>
    <add key="MinItemCountForTopRate3" value="8"/>
    <add key="MinimumRateToRecommend" value="2.51"/>
    <add key="MaxCheckinInLast24Hours" value="8"/>
    <add key="MaxCheckinPerVenueInLast24Hours" value="3"/>
    <add key="MaxMinutesPerCheckinSession" value="150"/>
    <add key="MaxMessageForDiner" value="5"/>
    <add key="MaxCouponForDiner" value="5"/>
    <add key="MaxMenuItemRateCount" value="8"/>
    <add key="MaxLengthOfAnswerForOpenEndedQuestion" value="500"/>
    <add key="FavMinMenuItemRate" value="3.5"/>
    <add key="FavMinVenueRate" value="3.5"/>
    <add key="FavMaxMenuItem" value="50"/>
    <add key="FavMaxVenue" value="50"/>
    <add key="HistoryMaxElements" value="150"/>
    <add key="ShowMilesInsteadOfYardsLimit" value="300"/>
    <add key="ShowPrices" value="false"/>
    <add key="AllowNullCoordinateOnFeedback" value="true"/>
    <!-- 0-based index from the list returned by .NET's TimeZoneInfo.GetSystemTimeZones()-->
    <!-- http://www.timetemperature.com -->
    <!--
     US Time Zones:
        2       Hawaiian Standard Time                  (UTC-10:00) Hawaii
        3       Alaskan Standard Time                   (UTC-09:00) Alaska
        5       Pacific Standard Time                   (UTC-08:00) Pacific Time (US & Canada)
        6       US Mountain Standard Time               (UTC-07:00) Arizona
        8       Mountain Standard Time                  (UTC-07:00) Mountain Time (US & Canada)
        10      Central Standard Time                   (UTC-06:00) Central Time (US & Canada)
        14      Eastern Standard Time                   (UTC-05:00) Eastern Time (US & Canada)
        15      US Eastern Standard Time                (UTC-05:00) Indiana (East)
    -->
    <!--
      Canada Time Zones:
        5       Pacific Standard Time                   (UTC-08:00) Pacific Time (US & Canada)
        8       Mountain Standard Time                  (UTC-07:00) Mountain Time (US & Canada)
        10      Central Standard Time                   (UTC-06:00) Central Time (US & Canada)
        12      Canada Central Standard Time            (UTC-06:00) Saskatchewan
        14      Eastern Standard Time                   (UTC-05:00) Eastern Time (US & Canada)
        18      Atlantic Standard Time                  (UTC-04:00) Atlantic Time (Canada)
        22      Newfoundland Standard Time              (UTC-03:30) Newfoundland
    -->
    <add key="DefaultTimeZoneWinIndex" value="5"/><!-- PST -->
    <add key="ImageFileUrlTemplate" value="http://img.dinesmart365.com/file/{0}"/>
    <add key="LogoFileUrlTemplate" value="http://img.dinesmart365.com/logo/{0}"/>
    
    <add key="InitialMessageGroupId" value="E6AF2C10-4A70-4D14-9918-FA9368C62636"/>
    <add key="InitialMessageChainId" value="BBFA0EB1-F2CF-4DB2-AB87-DE55C2B5AEC5"/>
    <add key="InitialMessageSenderId" value="0BD5275A-D3A8-E111-BB64-00248C795BE8"/>
    <add key="InitialMessageTitle" value="Thank you for stopping by!"/>
    <add key="InitialMessageContent" value="Thank you for downloading our app! We don't want you to see a lonely 'No Messages' status in your inbox, so the Dine Smart 365 team is sending you this message to welcome you and show you our app in action.&lt;br/&gt;&lt;br/&gt;Here is how 'Messages' work:&lt;br/&gt;After you leave feedback for a restaurant, those managers will have a chance to reply to you here. This could be a thank-you, an apology, or an explanation of how they intend to fix a mistake.&lt;br/&gt;&lt;br/&gt;Don't worry! We don't disclose your identity! Not ever. Your feedback is completely anonymous, so managers won't know your identity when they leave a message. We won't let restaurant managers bug you either. Only one message is allowed per feedback as of now.&lt;br/&gt;&lt;br/&gt;Please feel free to reach us at 'info@dinesmart365.com' if you have any questions or concerns.&lt;br/&gt;&lt;br/&gt;Thanks,&lt;br/&gt;Dine Smart 365 Team"/>

  </appSettings>
  
  <system.web>

    <customErrors mode="Off"/>
    
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    
  </system.web>
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="PListBehaviorX" type="YummyZone.WebService.PListBehavior, YummyZone.WebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://isvc.dinesmart365.com" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <bindings>
      <!--This is important for REST. We have to use webHttpBinding for REST-->
      <!--Make sure that you disable Anonymous Auth and enable Basic Auth on IIS  -->
      <webHttpBinding>
        <binding name="WebBinding">
          <!-- This enables using username and password without SSL  -->
          <security mode="TransportCredentialOnly">
            <!-- clear text username and password without SSL -->
            <!--
            <transport clientCredentialType="Basic" />
            -->
            <!-- Normally this should have been Basic. However it doesn't work. Here is the problem: -->
            <!-- Transport security supports custom user name and password auth in theory. To enable -->
            <!-- user name and password auth, you need to make the clientCredentialType="Basic" over transport -->
            <!-- Now, if you are using IIS, you need to enable Basic Auth on IIS as well. Otherwise, -->
            <!-- you will be getting an error from IIS, saying that there is a mismatch... Once you enable -->
            <!-- the basic auth on IIS, then, the authentication requests falls to Windows Users -->
            <!-- That means every user should have a windows account in server side, which is not possible. -->
            <!-- Therefore we will be using a custom HTTP module!... See: UserNameAuthenticator.cs class -->
            <!-- IIS HINT1: Select only the Enable Anonymous Access option. Clear the other options. -->
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- Define Behaviors and consume extensions Here -->
    <behaviors>
      <!-- SERVICE BEHAVIORS -->
      <serviceBehaviors>
        <behavior name="PListWebHttpBehavior">
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="1600" maxConcurrentInstances="1856"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <!-- END POINT BEHAVIORS -->
      <endpointBehaviors>
        <behavior name="RESTFriendly">
          <PListBehaviorX/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- Define Services herse -->
    <services>
      <service name="YummyZone.WebService.YummyZoneWebService" behaviorConfiguration="PListWebHttpBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="WebBinding" behaviorConfiguration="RESTFriendly" contract="YummyZone.WebService.IYummyZoneWebService"/>
      </service>
    </services>
  </system.serviceModel>
  
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Path Rewriter" type="YummyZone.WebService.UserNameAuthenticator,YummyZone.WebService" />
    </modules>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <validation validateIntegratedModeConfiguration="false" />
    
  </system.webServer>
  
</configuration>
