<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
    
  <system.diagnostics>

    <!--ME: Below section is to persist the traces on the Azure machine... We don't need it.-->
    <!--To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments.-->
    <!--
    <sharedListeners>
      <add name="AzureLocalStorage" type="Pic4Pic.WebSvc.AzureLocalStorageTraceListener, Pic4Pic.WebSvc"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
    -->
    
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
    
  </system.diagnostics>
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime maxRequestLength="104857600" />
    <!-- Windows Azure Caching session state provider -->
    
    <!-- Windows Azure Caching output caching provider -->
    <!--Uncomment this section to use Windows Azure Caching for output caching-->
    
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!-- ME: We don't have web session. Our web site/service is state-less -->
  <!-- Windows Azure Cache session state provider -->
    <!--
    <sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>
    -->
    <!-- Windows Azure Cache output cache provider -->
    <!-- Uncomment this section to use Windows Azure Cache for output cache -->
    <!--
    <caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>
    -->
  </system.web>
  <system.serviceModel>
    <!-- aspNetCompatibilityEnabled="true" -->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTFriendly">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="myWebHttpBindingConfig" maxBufferSize="5242880" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="5242880" maxStringContentLength="5242880" maxArrayLength="5242880" maxBytesPerRead="5242880" maxNameTableCharCount="5242880" />
        </binding>
        <binding name="myWebHttpsBindingConfig" maxBufferSize="5242880" maxReceivedMessageSize="5242880">
          <security mode="Transport" />
          <readerQuotas maxDepth="5242880" maxStringContentLength="5242880" maxArrayLength="5242880" maxBytesPerRead="5242880" maxNameTableCharCount="5242880" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Pic4Pic.WebSvc.Pic4PicSvc" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="myWebHttpBindingConfig" behaviorConfiguration="RESTFriendly" contract="Pic4Pic.WebSvc.IPic4PicSvc" />
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="myWebHttpsBindingConfig" behaviorConfiguration="RESTFriendly" contract="Pic4Pic.WebSvc.IPic4PicSvc" />
      </service>
    </services>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <rewrite>
      <!-- http://www.iis.net/learn/extensions/url-rewrite-module/url-rewrite-module-configuration-reference -->
      <rules>
        <!-- Terms rule -->
        <rule name="Terms Rule" stopProcessing="true">
          <match url="^terms$" ignoreCase="false" />
          <action type="Rewrite" url="privacy_and_terms.html" />
        </rule>
        <!-- SERVICE rule -->
        <rule name="Service Rule" stopProcessing="true">
          <match url="^svc/rest/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="Pic4PicSvc.svc/{R:1}" />
        </rule>
        <!-- FILE Upload rule -->
        <rule name="File Upload Rule" stopProcessing="true">
          <match url="^file/upload$" ignoreCase="false" />
          <action type="Rewrite" url="FileUpload.ashx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
  <dataCacheClients>
    <dataCacheClient name="default">
      <!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name -->
      <!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster -->
      <!--
      <autoDiscover isEnabled="true" identifier="[Cache role name or Service Endpoint]" />
      -->
      <autoDiscover isEnabled="true" identifier="" />
      <localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />
	  
	  <!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
	  <!--<securityProperties mode="Message" sslEnabled="false">
        <messageSecurity authorizationInfo="[Authentication Key]" />
      </securityProperties>-->
    </dataCacheClient>
  </dataCacheClients>
  
  <cacheDiagnostics>
    <crashDump dumpLevel="Off" dumpStorageQuotaInMB="100" />
  </cacheDiagnostics>
  
</configuration>