<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pic4pic.ginger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.pic4pic.ginger.MainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        
       <activity
            android:name="net.pic4pic.ginger.ConversationActivity"
            android:label="@string/title_conversation_activity"
            android:parentActivityName="net.pic4pic.ginger.PersonActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pic4pic.ginger.PersonActivity" />
        </activity>
        
        <activity
            android:name="net.pic4pic.ginger.PersonActivity"
            android:label="@string/title_activity_person"
            android:parentActivityName="net.pic4pic.ginger.MainActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pic4pic.ginger.MainActivity" />
        </activity>
        <activity
            android:name="net.pic4pic.ginger.TextInputActivity"
            android:label="@string/title_activity_text_input"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pic4pic.ginger.MainActivity" />
        </activity>
        <activity
            android:name="net.pic4pic.ginger.LaunchActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="net.pic4pic.ginger.SignupActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait" >            
        </activity>        
        
        <activity 
            android:label="@string/app_name" 
            android:name="com.facebook.LoginActivity" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
    </application>

</manifest>
