<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=DineSmartDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--
    <add name="DBConnectionString" connectionString="SERVER=sqlserver8.loosefoot.com;UID=SmarterDBAdmin;PWD=sUphangile-yedi-K;database=DineSmartDB"/>
    -->
  </connectionStrings>
  <appSettings>
    <!-- 0-based index from the list returned by .NET's TimeZoneInfo.GetSystemTimeZones()-->
    <!-- http://www.timetemperature.com -->
    <!--
     US Time Zones:
        2       Hawaiian Standard Time                  (UTC-10:00) Hawaii
        3       Alaskan Standard Time                   (UTC-09:00) Alaska
        5       Pacific Standard Time                   (UTC-08:00) Pacific Time (US & Canada)
        6       US Mountain Standard Time               (UTC-07:00) Arizona
        8       Mountain Standard Time                  (UTC-07:00) Mountain Time (US & Canada)
        10      Central Standard Time                   (UTC-06:00) Central Time (US & Canada)
        14      Eastern Standard Time                   (UTC-05:00) Eastern Time (US & Canada)
        15      US Eastern Standard Time                (UTC-05:00) Indiana (East)
    -->
    <!--
      Canada Time Zones:
        5       Pacific Standard Time                   (UTC-08:00) Pacific Time (US & Canada)
        8       Mountain Standard Time                  (UTC-07:00) Mountain Time (US & Canada)
        10      Central Standard Time                   (UTC-06:00) Central Time (US & Canada)
        12      Canada Central Standard Time            (UTC-06:00) Saskatchewan
        14      Eastern Standard Time                   (UTC-05:00) Eastern Time (US & Canada)
        18      Atlantic Standard Time                  (UTC-04:00) Atlantic Time (Canada)
        22      Newfoundland Standard Time              (UTC-03:30) Newfoundland
    -->
    <add key="SupportedTimeZones" value="2;3;5;6;8;10;14;15;18;22"/>

    <add key="EMail_SmtpHost" value="smtp.gmail.com"/>
    <add key="EMail_SmtpPort" value="587"/>
    <add key="EMail_SenderName" value="Smart Diner"/>
    <add key="EMail_SenderEmail" value="info@dinesmart365.com"/>
    <add key="EMail_SenderPswd" value="Sm@rtInfo56"/>
    <add key="EMail_UseSSL" value="1"/>
    <add key="EMail_ToList" value="baris@dinesmart365.com"/>
    <add key="EMail_CCList" value=""/>
    <add key="EMail_BCCList" value=""/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>

    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" timeout="30" requireSSL="false" name=".ASPXFORMSAUTH" protection="All" path="/" >
      </forms>
    </authentication>
    
    <authorization>
      <deny users="?"/>
    </authorization>
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="UserHandlers/Authenticate.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="UserHandlers/RegisterVenue.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Signup.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Signout.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Privacy.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="About.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Downloads.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="FileDownloader.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="flyer.pdf">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="bizcard-front.png">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="bizcard-back.png">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Support.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="FAQs.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Disclaimer.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="terms.docx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Privacy.docx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Terms.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Disclaimer.docx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="preload.html">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Cities.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="app.html">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
        
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    
  </system.webServer>
  
</configuration>
