<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="Off"/>-->
    <compilation debug="true" targetFramework="4.5.1">
      <buildProviders>
        <!-- So we can map paths correctly in css files -->
        <add extension=".css" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="None" />
    <!--100 MB-->
    <httpRuntime maxRequestLength="104857600" />
    <!-- Windows Azure Caching session state provider -->
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>-->
    <!-- Windows Azure Caching output caching provider -->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
    <!-- Windows Azure Cache session state provider -->
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>-->
    <!-- Windows Azure Cache output cache provider -->
    <!--Uncomment this section to use Windows Azure Cache for output cache-->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
    <pages controlRenderingCompatibilityVersion="4.0" />
  <!-- Windows Azure Cache session state provider --><!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>--><!-- Windows Azure Cache output cache provider --><!--Uncomment this section to use Windows Azure Cache for output cache--><!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>--></system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="Parse CSS Files" preCondition="integratedMode" verb="GET" path="*.css" type="System.Web.UI.PageHandlerFactory" />
    </handlers>
    <security>
      <requestFiltering>
        <!--100 MB-->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <rewrite>
      <!-- http://www.iis.net/learn/extensions/url-rewrite-module/url-rewrite-module-configuration-reference -->
      <rules>
        <!-- DEFAULT rule -->
        <rule name="Default Rule" stopProcessing="true">
          <match url="^/?$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="Topics.aspx?filter=latest" appendQueryString="true" />
        </rule>
        <!--
        <rule name="Default Rule" stopProcessing="true">
          <match url="^/?$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="Default.aspx" appendQueryString="true" />
        </rule>
        -->
        <!-- DEFAULT rule -->
        <rule name="Welcome Rule" stopProcessing="true">
          <match url="^welcome/?$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="Default.aspx" appendQueryString="true" />
        </rule>
        <!-- Topics List rule -->
        <rule name="Topics List Rule" stopProcessing="true">
          <match url="^(timeline|latest)/?$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="Topics.aspx?filter={R:1}" appendQueryString="true" />
        </rule>
        <!-- User Activity rule 2 -->
        <rule name="User Activity Rule 2" stopProcessing="true">
          <match url="^user$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="UserActivities.aspx?userId=0" appendQueryString="true" />
        </rule>
        <!-- User Activity rule 1 -->
        <rule name="User Activity Rule 1" stopProcessing="true">
          <match url="^user/([1-9][0-9]{0,18})?$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="UserActivities.aspx?userId={R:1}" appendQueryString="true" />
        </rule>
        <!-- LOGS rule 2 -->
        <rule name="Activity Logs Rule 2" stopProcessing="true">
          <match url="^admin/logs$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="ActionLogs.aspx?top=20" appendQueryString="true" />
        </rule>
        <!-- LOGS rule 1 -->
        <rule name="Activity Logs Rule" stopProcessing="true">
          <match url="^admin/logs/([1-9][0-9]{0,9})?$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="ActionLogs.aspx?top={R:1}" appendQueryString="true" />
        </rule>
        <!-- SERVICE rule -->
        <rule name="Service Rule" stopProcessing="true">
          <match url="^svc/rest/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="svc/CrossplWebSvc.svc/{R:1}" />
        </rule>
        <!-- PHOTO rule -->
        <!-- this is for images that we exposed to the world in plain-text-mode entries -->
        <!-- For example: http://vizibuzz.com/photo/12345 see facebook posts which has image in the descr -->
        <rule name="Photo Rule" stopProcessing="true">
          <match url="^photo/([1-9][0-9]{0,18})$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="ImageRedirect.aspx?assetId={R:1}" appendQueryString="true" />
        </rule>
        <!-- TOPIC rule with SEO Link -->
        <!-- It seems like # doesn't have any effect since browser doesn't send it to the server. It is an anchor for the client -->
        <rule name="TopicWithSeoLink" stopProcessing="true">
          <match url="^(([a-zA-Z0-9\-])+)((/|#)?)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="TopicEntries.aspx?seolink={R:1}" appendQueryString="true" />
        </rule>
        <!-- TOPIC rule with SEO Link and ID -->
        <!-- here is my guess: 
          {R:1} refers to (([a-zA-Z0-9\-])+)
          {R:2} refers to  ([a-zA-Z0-9\-])     // the inner group (paranthesis)
          {R:3} refers to (/)
          {R:4} refers to ([1-9][0-9]{0,18})
        -->
        <rule name="TopicWithSeoLinkAndId" stopProcessing="true">
          <match url="^(([a-zA-Z0-9\-])+)(/)([1-9][0-9]{0,18})$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="TopicEntries.aspx?seoLink={R:1}&amp;topicId={R:4}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <!-- Assume that this service is hosted as a subdomain like svc.vizibuzz.com -->
    <!-- This settings is to let the service accept request from a cross-domain -->
    <!-- You need to check your IMyService.cs interface as well. POST methods -->
    <!-- must be marked as 'Method = "*"' since Firefox sends OPTIONS first instead of POST -->
    <!--
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://vizibuzz.com" />
        <add name="Access-Control-Allow-Methods" value="POST" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    -->
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTFriendly">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- AspNetCompatibility lets the requests go through ASP.NET pipeline. -->
    <!-- You need to enable this to use the Form-based auth for WCF service which is hosted within web site. -->
    <!-- See the corresponding flag in the service implementation file. -->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <services>
      <service name="Crosspl.Web.Services.CrossplWebSvc" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RESTFriendly" contract="Crosspl.Web.Services.ICrossplWebSvc" />
      </service>
    </services>
  </system.serviceModel>
  <dataCacheClients>
    <dataCacheClient name="default">
      
      
      <!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name -->
      <!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster -->
      <autoDiscover isEnabled="true" identifier="" />
      <localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />
      
      
    <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->
      <!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
      <!--<securityProperties mode="Message" sslEnabled="false">
        <messageSecurity authorizationInfo="[Authentication Key]" />
      </securityProperties>--></dataCacheClient>
  </dataCacheClients>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<cacheDiagnostics>
    <crashDump dumpLevel="Off" dumpStorageQuotaInMB="100" />
  </cacheDiagnostics></configuration>