<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=DineSmartDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--
    <add name="DBConnectionString" connectionString="SERVER=sqlserver8.loosefoot.com;UID=SmarterDBAdmin;PWD=sUphangile-yedi-K;database=DineSmartDB"/>
    -->
  </connectionStrings>

  <appSettings>
    <add key="AbsPathPrefix" value="/file/"/>
    <add key="AbsPathPrefixLogo" value="/logo/"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    
  </system.web>

  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true">
      <add name="PathRewriter" type="YummyZone.Image.Web.PathRewriter,YummyZone.Image.Web" />
    </modules>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <validation validateIntegratedModeConfiguration="false" />
    
  </system.webServer>
  
</configuration>
