.bnfts1{margin-left:15px;}
.bnfts2{margin-left:0px;}

.appsTextWrp{padding-left:100px; float:left; }
.iphone{position:relative; left:32px; top:724px;display:inline;}

.nonmobile{display:none;}
.mobile{display:list-item;}
